<div class="row home-background">
	<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
		<div class="card card-signin my-5">
			<div class="card-body">
				<h5 class="card-title text-center">Amura Assignment</h5>
				<%= link_to github_auth_path, class: "btn btn-lg btn-primary btn-block text-uppercase" do %>
					<i class="fa fa-github" aria-hidden="true"></i> Log In With Github
				<% end %>
			</div>
		</div>
	</div>
</div>